@import 'variables.css';

/* ==========================================================================
Reset

* Baseline
* Layout
* Text
* Actions and inputs
========================================================================== */

/* Baseline
========================================================================== */

* {
  box-sizing: border-box;
}

body {
  background: #fff;
  color: #333;
  font: var(--base-size) var(--font-stack);
  line-height: 1;
  margin: 0;
  min-width: 300px;
  padding: 1rem;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* Layout
========================================================================== */

main {
  display: block;
}

/* Text
========================================================================== */

dfn {
  font-style: italic;
}

abbr[title] {
  border-bottom: 1px dotted;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* Actions and inputs
========================================================================== */

a {
  text-decoration: none;
}

a,
button {
  &:active,
  &:hover {
    outline: 0;
  }
}

input {
  border: 1px solid #CCC;
}

button,
input[type="reset"],
input[type="submit"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

button,
input {
  line-height: normal;

  &[disabled] {
    cursor: default;
  }
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  vertical-align: top;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
